/* *************************/
/* COLOR */
/* *************************/


/* *************************/
/* GENERIC */
/* *************************/

body {
    background-color: gray;
}

header {
    background-color: white;
    height: 100px;
    margin-bottom: 40px;
}

/* .row {
    border: 2px dashed yellow;
}

.row>[class^='col'] {
    min-height: 100px;
    background-color: blanchedalmond;
    border: 1px gray solid;
}

.row .row>[class^='col'] {
    background-color: orange; */

/* } */




/* *************************/
/* Header
/* *************************/





/* *************************/
/* Main */
/* *************************/

#grid {

    border: solid 1px black;
    width: 600px;
    height: 600px;
    flex-wrap: wrap;
    display: flex;
}

#grid .cella {
    height: 10%;
    width: 10%;
    cursor: pointer;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

}

#grid .cella.clicked {
    background-color: lightseagreen;
    cursor: not-allowed;
}